## **Optimierungspotenzial im Rettungswesen**

In [68]:
import pandas as pd
import seaborn as sns

pd.set_option('display.max_columns', 500)  # damit alle Spalten angezeigt werden

**Datenfelder in missions.csv**
- t_alarm_sec: Zeitpunkt der Alarmierung des Einsatzes
- lat: Breitengrad des Einsatzes
- lng: Längengrad des Einsatzes
- dt_to_launch: Zeitintervall [sec] Alarmierung bis Ausrücken des Einsatzes [sec]
- dt_to_poa: Zeitintervall [sec] Ausrücken bis Eintreffen Einsatzort des Einsatzes
- dt_to_completion: Zeitintervall [sec] Eintreffen Einsatzort bis Ende Einsatz des Einsatzes
- base: Stützpunkt-Nummer, ab dem der Einsatz bedient wurde
- dist: Distanz zwischen Stützpunkt und Einsatzort [Luftlinie Koordinaten] 

**Datenfelder in bases.csv:**
- nr: Stützpunkt-Nummer (1,2,3)
- lat: Breitengrad des Stützpunktes
- lng: Längengrad des Stützpunktes

### **Vertieftes Verständnis der Daten**

In [69]:
missions = pd.read_csv('C:\\Users\\marck\\Documents\\_OST\\DAANA\\DAANA\\Fallstudie_Rettungswesen\\missions.csv')
print(missions)

                t_alarm_sec        lat        lng  dt_to_launch  \
0      2018-01-01T00:31:57Z  50.509220  10.683720            40
1      2018-01-01T01:33:29Z  50.515171  10.561964            60
2      2018-01-01T02:23:56Z  50.300076  10.925221           376
3      2018-01-01T03:07:32Z  50.367345  11.210582            70
4      2018-01-01T03:31:58Z  50.502782  10.592543           166
...                     ...        ...        ...           ...
18857  2018-12-30T21:47:50Z  50.508654  10.540869            94
18858  2018-12-30T21:48:01Z  50.368704  11.218502            93
18859  2018-12-30T22:00:20Z  50.425956  10.537357            39
18860  2018-12-30T22:11:55Z  50.460743  10.818922            75
18861  2018-12-30T23:31:00Z  50.510810  10.550634           138

       dt_to_completion  dt_to_poa  base      dist
0                  2779        417     1  0.066918
1                  3627       1062     1  0.188647
2                  1976        393     3  0.025221
3                  7040       1236     2  0.213099
4                 11178        837     1  0.157482
...                 ...        ...   ...       ...
18857              2412       1349     1  0.209310
18858              2996       1256     2  0.220732
18859              6087       2145     1  0.225166
18860              4320        458     1  0.079318
18861              3596       1092     1  0.199659

[18862 rows x 8 columns]

In [70]:
# Aufgabe 1: Missings
# a) Schau dir den Datensatz an
print("Info:")
missions.info()
# b) Zeige die ersten fünf Zeilen des Datensatzes an
print("\nErste 5 Zeilen:")
display(missions.head())
# c) Überprüfe den Datensatz auf fehlende Werte
print(missions.isnull().sum())

# d) Anzahl der NA-Werte im Datensatz
print(missions.isnull().sum().sum())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18862 entries, 0 to 18861
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   t_alarm_sec       18862 non-null  object
 1   lat               18862 non-null  float64
 2   lng               18862 non-null  float64
 3   dt_to_launch      18862 non-null  int64
 4   dt_to_completion  18862 non-null  int64
 5   dt_to_poa         18862 non-null  int64
 6   base              18862 non-null  int64
 7   dist              18862 non-null  float64
dtypes: float64(3), int64(4), object(1)
memory usage: 1.2+ MB

Erste 5 Zeilen:

,t_alarm_sec,lat,lng,dt_to_launch,dt_to_completion,dt_to_poa,base,dist
0,2018-01-01T00:31:57Z,50.509220,10.683720,40,2779,417,1,0.066918
1,2018-01-01T01:33:29Z,50.515171,10.561964,60,3627,1062,1,0.188647
2,2018-01-01T02:23:56Z,50.300076,10.925221,376,1976,393,3,0.025221
3,2018-01-01T03:07:32Z,50.367345,11.210582,70,7040,1236,2,0.213099
4,2018-01-01T03:31:58Z,50.502782,10.592543,166,11178,837,1,0.157482

t_alarm_sec         0
lat                 0
lng                 0
dt_to_launch        0
dt_to_completion    0
dt_to_poa           0
base                0
dist                0
dtype: int64
0

In [ ]:
# Aufgabe 2: Spalten zusammenfassen
# a) Anzahl der verschiedenen Stützpunkte im Datensatz
n_bases = missions["base"].nunique(dropna=True) #dropna um nan nicht anzuzeigen
unique_bases = sorted(missions["base"].dropna().unique())

print(f"Anzahl verschiedene Stützpunkte: {n_bases}")
print("Stützpunkte:", unique_bases)
print("\nHäufigkeit pro Stützpunkt (inkl. NA):")
print(missions["base"].value_counts(dropna=False))
# b) Minimale und maximale Ausrückzeit
s = missions["dt_to_launch"]
s_clean = s.dropna()

overall_min = s_clean.min()
overall_max = s_clean.max()
idx_min = s_clean.idxmin()
idx_max = s_clean.idxmax()


# c) Häufigkeit des Minimumwerts der Ausrückzeit

# d) Mittlere und mediane Ausrückzeit

Anzahl verschiedene Stützpunkte: 3
Stützpunkte: [np.int64(1), np.int64(2), np.int64(3)]

Häufigkeit pro Stützpunkt (inkl. NA):
base
1    10712
2     5732
3     2418
Name: count, dtype: int64

NameError: name 'lat' is not defined

In [ ]:
# Aufgabe 3: Gruppierte Zusammenfassungen I
# a) Anzahl der Einsätze pro Stützpunkt

# b) Mittlere Ausrückzeit und Median pro Stützpunkt

In [ ]:
# Aufgabe 4: Gruppierte Zusammenfassungen II
# Mittelwert der Distanz pro Stützpunkt mit der Funktion mean()

In [ ]:
# Aufgabe 5: Gruppieren nach mehreren Variablen
# a) Neue Spalten für Jahr, Monat und Tag erstellen

# b) Anzahl der Einsätze pro Monat

# c) Anzahl der Einsätze pro Tag

# d) Einsätze pro Stützpunkt und Monat, geordnet nach Stützpunkt

In [ ]:
# Aufgabe 6: Graphische Darstellung

# a) Balkendiagramm für Einsätze pro Monat

# b) Balkendiagramm für Einsätze pro Monat und Stützpunkt

Aufgabe 7: Betrachte die Einsätze örtlich. Wo sind die Einsätze (relativ zueinander und zu den Basen)? Gibt es Orte mit hoher Einsatzdichte? Welche Einsätze werden ab welcher Base bedient?

**Antwort**:

In [ ]:
# Aufgabe 8: Gesamteinsatzdauer
# a) Tag mit längster Gesamteinsatzdauer

# b) Kürzeste Gesamteinsatzdauer

In [ ]:
# Aufgabe 9: Auffällige Werte
# a) Minimale und maximale Werte für die Zeitangaben

# b) Histogramm für dt_to_completion

In [ ]:
# Aufgabe 10: Gruppierte Zusammenfassungen III
# a) Tag mit längster Gesamtfahrdistanz

# b) Mittlere Fahrdistanz pro Stützpunkt und Tag

# c) Boxplot für mittlere Distanzen pro Stützpunkt